
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>

<p>姓名: <input type="text" name="name" value="" /></p>
<p>帳號: <input type="text" name="id" value="" /></p>
<p>密碼: <input type="password" name="pwd" value="" /></p>
<p>
    性別:
    <input type="radio" name="gender" value="1" />男生
    <input type="radio" name="gender" value="2" />女生
</p>
<p>
    興趣:
    <input type="checkbox" name="hobby1" value="swimming" />游泳
    <input type="checkbox" name="hobby2" value="reading" />閱讀
    <input type="checkbox" name="hobby3" value="movie" />看電影
</p>
<p>
    自我介紹:
    <textarea name="about"></textarea>
</p>